html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
  text-align: center;
  background: #efefef;
}

#page {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  color: #333;
}

h1, h2 {
  font-weight: 800;
  font-family: Georgia, serif;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 1px;
}

h1 {
  margin-bottom: 0;
  font-size: 80px;
}

img {
  max-width: 100%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0;
  margin: 0;
  font-size: 90%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

a:link,
a:visited {
  color: #333;
}

a:hover {
  color: #b10000;
}

@media (max-width: 799px) {
  #page {
    padding: 20px;
  }
}

@media (min-width: 800px) {
  #page {
    /* If padding of #page is not set, the margin-top of h1 won't work.
     * Just weird.
     */
    padding: 1px;
  }

  #doudou {
    float: right;
    width: 48%;
    margin-top: 1em;
  }

  #guide {
    float: left;
    width: 48%;
  }
}
